html {
    font-family: 'Open Sans', 'Roboto', 'Comic Neue', cursive, 'Noto Sans', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}
.root {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

.container {
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAAGXRFW…DDAgDAsAAAwwIAwLAAADAsAMCwAAAwLAAADAsAUuL/BRgAbdjMWJwXo90AAAAASUVORK5CYII=),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAAGXRFW…CwAAAQFgAAwgIAhAUAgLAAABAWACAsAACEBQDQAf5fgAEAyw11IJv0GU8AAAAASUVORK5CYII=),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAAGXRFW…IAAgsAgQUABBYAEFgACCwAILAAgMACQGABAIEFAD35nwADALRKT8CBeskNAAAAAElFTkSuQmCC),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAAGXRFW…CGBQCAYQEAYFgAgGEBAGBYAAAYFgBgWAAAGBYAwL75gwADAJg9Yl+p8U3/AAAAAElFTkSuQmCC);
    background-size: 15%, 15%, 15%, 15%;
    background-position: left -1% top -15%, right -7.5% top -1%, left -5% bottom -10%, right -5% bottom -5%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: #062863;
}


/* PIGGYVEST LOGO  */

.a {
    color: inherit;
    text-decoration: inherit;
    background-color: transparent;
    cursor: pointer;
}
.logo {
    margin-bottom: 3rem;
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    border-style: 0 solid none;
}

/* .signup-box */
.signup-box {
    width: 91.666667%;
    padding: 2rem;
    line-height: 1.5rem;
    padding-bottom: 2.5rem;
    max-width: 24rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    background-color: #fff;
    border: 0 solid #e2e8f0;
}

.title-box {
    margin-bottom: 1.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.25rem;
    color: #083e9e;
    text-align: center;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    margin: 0;
    box-sizing: inherit;
}

.sub-title {
    font-size: 0.875rem;
    color: #4a5568;
    text-align: center;
    font-family: 'Karla', sans-serif;
    margin: 0;
}

form {
    overflow-y: auto;
    min-height: min-content;
    margin-top: 2rem 0rem ;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.formInput {
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;    
}

label {
    font-size: .75rem;
    color: #4a5568;
    margin-bottom: .25rem;
    line-height: 2;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
}

.tx {
    color: #1a202c;
    padding-left: .75rem;
    padding-right: .5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    outline: 0rem;
    border: 0 !important;
    border-radius: .25rem;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    background-color: #edf2f7;
    line-height: inherit; 
}

select {
    width: 100%;
}

.items-end {
    display: flex;
    flex: 1 1;
    align-items: flex-end;
}

.button {
    background-color: rgb(8, 62, 158);
    width: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: .875rem;
    color: #fff;
    text-align: center;
    padding-left: 2.5rem;
    padding-top: 1.25rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: .75rem;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    -webkit-appearance: button;
    line-height: inherit;
    cursor: pointer;
}

.login {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    white-space: nowrap;
    text-align: center;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-top: 2rem;
    font-weight: 400;
    font-family: 'karla', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: transparent;
}